<?xml version="1.0" ?>
<!--
/**
 * Copyright © Scherbak Electronics.
 * See no license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="dev" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<group id="lasc" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Login As Customer</label>
				<field id="store" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Store</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Store</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
